@page
@using System.Text.Json
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StockNotificationWarning.Areas.Admin.Pages.ProductDetailsModel
@{
}
<h1>Displaying Product Details for "@Model.ProductName":</h1>
<br />

@foreach (var detail in Model.Details)
{
    <table class="table table-bordered table-sm mb-0">
        <thead>
            <tr>
                <th>Custom Display Name</th>
                <th>Custom Description</th>
                <th>Created At</th>
                <th>Last Edited At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@detail.CustomDisplayName</td>
                <td>@detail.CustomDescription</td>
                <td>@detail.CreatedAt</td>
                <td>@(detail?.UpdatedAt?.ToString() ?? "N/A")</td>
            </tr>
        </tbody>
    </table>
}
<br />
<a asp-page="/Products" asp-route-productId="@Model.ProductId" asp-area="Admin"
   class="btn btn-outline-success">
       Back
</a>
