@page
@model StockNotificationWarning.Areas.Pages.ProductsModel
@{
    ViewData["Title"] = Model.Understocked ? "Understocked Products" : "All Products";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Shipping Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customProduct in Model.CustomProducts?.Products?.Edges ?? [])
        {
            var shippingWeight = customProduct?.Node?.Metafield?.Value;
            <tr>
                <td>@customProduct?.Node?.Id?.Split('/')[4]</td>
                <td>@customProduct?.Node?.Title</td>
                <td>@(shippingWeight is null ? "N/A" : shippingWeight)</td>
            </tr>
        }
    </tbody>
</table>

@* @if (Model.Understocked)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Shipping Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.UnderstockedProducts)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Stock</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table>
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@Html.Raw(product.BodyHtml)</td>
                </tr>
            }
        </tbody>
    </table>
} *@

@section Scripts {
    <script>
        Toastify({
            text: "@(Model.Understocked ? "Understocked products loaded" : "All products loaded")",
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "green",
        }).showToast();
    </script>
}
